body{
    background-color: rgb(163, 173, 175);
  }
  header{
    height: 200px;
    /* background-color: rgb(163, 128, 163); */
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  img{
    width: 100px;
    height: 150px;
  }
  #welcome{
    padding-left: 30px;
  }
  h1{
    
    font-family:sans-serif;
    font-size: 64px;
    text-align: center;
  }
 
  #all_items{
    display: flex;
     justify-content: space-around;
  
  }
  
  #left_item, #middle_item, #right_item{
    width: 300px;
    height: 300px;
    padding-top: 20px;
    /* border: rgb(12, 12, 12) 2px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #counts{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #Results{
    height: 300px;
    /* text-align: center; */
  }
  #chart{
    text-align: center;
    width: 700px;
    height: 400px;
  }
  h2{
    font-family: sans-serif;
    font-size: 20px;
  }
  li, p{
    font-family: Arial, Helvetica, sans-serif;
  }
  